@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%; /* Adjusted lightness to make it darker */
    --foreground: 0 0% 90%; /* Adjusted lightness to make it lighter */

    --card: 0 0% 5%; /* Adjusted lightness */
    --card-foreground: 0 0% 90%; /* Adjusted lightness */

    --popover: 0 0% 5%; /* Adjusted lightness */
    --popover-foreground: 0 0% 90%; /* Adjusted lightness */

    --primary: 0 0% 90%; /* Adjusted lightness */
    --primary-foreground: 0 0% 5%; /* Adjusted lightness */

    --secondary: 0 0% 20%; /* Adjusted lightness */
    --secondary-foreground: 0 0% 90%; /* Adjusted lightness */

    --muted: 0 0% 20%; /* Adjusted lightness */
    --muted-foreground: 0 0% 60%; /* Adjusted lightness */

    --accent: 0 0% 20%; /* Adjusted lightness */
    --accent-foreground: 0 0% 90%; /* Adjusted lightness */

    --destructive: 0 100% 50%; /* Pure black */
    --destructive-foreground: 0 0% 90%; /* Adjusted lightness */

    --border: 0 0% 20%; /* Adjusted lightness */
    --input: 0 0% 20%; /* Adjusted lightness */
    --ring: 0 0% 40%; /* Adjusted lightness */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
